.container {
  width: 50%;
  margin: auto;
  position: relative;
}

.aside {
  width: 29%;
  background-color: rgb(37, 84, 138);
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 110px 10px 150px 10px;
}

button {
  margin-top: 20px;
  background-color: rgb(37, 84, 138);
  border: 1.5px solid white;
  color: white;
  padding: 5px 10px;
}

.heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: right;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}

.posts {
  box-sizing: border-box;
  display: inline-block;
  width: 68%;
  margin-top: 10px;
  padding: 5px 15px;
  position: absolute;
}

.pinned {
  margin-bottom: 85px;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-small;
  font-family: sans-serif;
  color: gray;
  border-bottom: 1px solid #f5f5f5;
}

h2 {
  font-family: sans-serif;
  font-size: large;
  margin: 5px 0 2px 0;
}

h1 {
  font-weight: 400;
}

section {
  font-size: large;
}

.post-heading {
  display: inline-block;
}

.header {
  position: relative;
}

img {
  position: absolute;
  right: 5px;
  bottom: 9px;
}

a {
  text-decoration: none;
  color: rgb(0, 183, 255);
}

.content {
  margin-top: 5px;
}

p {
  margin: 0;
  margin-bottom: 10px;
  font-size: x-small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.css {
  background-color: rgb(15, 194, 15);
  padding: 1px 5px;
  color: white;
}

.pure {
  background-color: rgb(0, 119, 255);
  padding: 1px 5px;
  color: white;
}

.js {
  background-color: crimson;
  padding: 1px 5px;
  color: white;
}
