.container {
  margin: auto;
  width: 50%;
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid lightgray;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  background-color: rgb(13, 114, 230);
  color: white;
  font-family: sans-serif;
}
