.container {
  width: 40%;
  margin: auto;
  padding: 10px 0 10px 0;
}

.head {
  border: 1px solid lightgray;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  background-color: rgb(9, 126, 235);
  color: white;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  position: relative;
}

.hd {
  display: inline-block;
}

.form {
  width: 99.5%;
  margin: auto;
  margin-top: 35px;
  border: 1px solid lightgray;
  padding: 10px 0 10px 0;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-left: 20px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

label {
  display: inline-block;
  width: 60px;
  text-align: right;
}

.control {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message {
  position: relative;
}

.message label {
  position: absolute;
}

textarea {
  margin-left: 70px;
}

.btn {
  width: 30%;
  margin: auto;
}

input[type="submit"],
input[type="reset"] {
  border: 0;
  background-color: rgba(20, 85, 224, 0.87);
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-size: 15px;
}

input[type="submit"]:hover {
  background-color: green;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: red;
  cursor: pointer;
}

.lb {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  background-color: rgba(20, 85, 224, 0.87);
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  right: 20px;
  bottom: 40px;
}

a:hover {
  background-color: blueviolet;
}
