.container {
  margin: auto;
  width: 20%;
  background-color: rgb(230, 230, 230);
  padding: 10px;
}

label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 2px;
}

input[type="email"]::placeholder {
  text-align: right;
}

.form-group {
  margin-bottom: 10px;
}

.name input {
  display: inline-block;
  width: 45%;
}

p {
  margin: 0;
  border: 0;
  color: blue;
}

.bday input {
  display: inline-block;
  width: 28.5%;
}

input {
  width: 96%;
  padding: 4px;
}

select {
  width: 100%;
  padding: 4px;
}

.btn {
  border: 0;
  padding: 5px;
  background-color: rgb(24, 124, 238);
  color: white;
  margin-left: 83%;
}
