.container {
  width: 45%;
  margin: auto;
  border: 1px solid black;
  padding: 0 10px 10px 15px;
  background-color: #f5f5f5;
}

.my-form {
  width: 90%;
}

.form-group {
  width: 100%;
}

h1 {
  text-align: right;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.small {
  text-align: right;
}

a {
  color: blue;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

.lb {
  font-weight: 600;
  width: 90px;
  text-align: right;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.group {
  width: 80%;
  margin-left: 115px;
  margin-bottom: 20px;
}

.goals label {
  margin: 0;
}

.comment input {
  margin-top: 10px;
}

.btn {
  width: 30%;
  margin: auto;
  padding-top: 10px;
}

.btn input {
  border: 0;
  padding: 10px;
  background-color: #c3c3c3;
}

.btn input:hover {
  background-color: rgb(97, 97, 255);
  cursor: pointer;
  color: white;
}

textarea {
  margin: 10px 0 0 115px;
}

.comment label {
  position: absolute;
  margin-top: 8px;
}

.fos {
  position: absolute;
}

.desc {
  margin: 0 0 5px 115px;
}

textarea {
  width: 80%;
}
