.container {
  width: 50%;
  margin: auto;
}

.main-heading {
  border: 1px solid lightgray;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  background-color: orangered;
  color: white;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  margin: auto;
  border: 1px solid lightgray;
  padding-top: 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.my-form {
  width: 70%;
  margin: auto;
}

.form-group {
  margin: auto;
  width: 100%;
}

label {
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 5px;
}

input {
  margin: 2px 0 10px 0;
  padding: 5px;
}

.add-2 {
  display: inline-block;
}

.card-type label {
  display: inline-block;
  margin-right: 10px;
}

#credit {
  margin: 15px 50px 20px 0;
}

button {
  margin: 10px 0 10px 200px;
  background-color: rgb(0, 132, 255);
  border: 0;
  padding: 10px;
  color: white;
  font-size: 15px;
}

button:hover {
  background-color: blue;
}

#add {
  width: 95%;
}

.name {
  width: 46%;
}

.cred {
  display: inline-block;
  width: 47%;
}

.card-number {
  width: 92%;
}
